<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BLEDemo-封装.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BC3AF1741E1F318700CDA00A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC3AF18D1E1F318700CDA00A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC3AF1981E1F318700CDA00A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
